<div class="row"><h4>Simple Binding</h4></div>
    <div class="row">
          <div class="col s6">
            <label for="birthdate">Birthdate {{birthDate}}</label>
            <input id="birthdate" name="birthdate" [(ngModel)]="birthDate"
                   materialize="pickadate"
                   [materializeActions]="birthDateActions"
                   [materializeParams]="[{format: 'dd/mm/yyyy'}]"
                   type="text" />
          </div>
          <div class="col s6">
             <label for="birthtime">Birthtime {{birthTime}}</label>
             <input id="birthtime" name="birthtime" [(ngModel)]="birthTime"
                    materialize="pickatime"
                    [materializeActions]="birthTimeActions"
                    [materializeParams]="[{twelvehour: false}]"
                    placeholder="00:00" class="validate" type="text">
          </div>
    </div>

    <div class="row">
          <div class="col s6">
            <a class="waves-effect waves-light btn" (click)="openDatePicker()">Open Date Picker</a>
          </div>

          <div class="col s3">
           <a class="waves-effect waves-light btn" (click)="setTime('01:15')">Set Time to 01:15</a>
          </div>
          <div class="col s3">
           <a class="waves-effect waves-light btn" (click)="openTimePicker()">Open Time Picker</a>
          </div>
    </div>

    <div class="row"></div>
    <div class="row"></div>

    <div class="row"><h4>Form Binding</h4></div>

    <form [formGroup]="form" materialize class="col s12">
        <div class="row">
           <div class="col s4">

            <label for="birthdate2">Birthdate {{form.value.fromDate}}</label>
            <input id="birthdate2" name="birthdate2" formControlName="fromDate"
                   materialize="pickadate"
                   [materializeParams]="[{format: 'dd/mm/yyyy'}]"
                   type="text" />
          </div>
          </div>
          <div class="row">
           <div class="col s4">
            <label for="birthtime2">Birthtime {{form.value.fromTime}}</label>
            <input id="birthtime2" name="birthtime2" formControlName="fromTime"
                   materialize="pickatime"
                   [materializeParams]="[{format: 'dd/mm/yyyy'}]"
                   type="text" />
          </div>
        </div>
    </form>
