<div class="col s6">
  <label for="birthdate">Birthdate {{birthDate}}</label>
  <input id="birthdate" name="birthdate" [(ngModel)]="birthDate"
         materialize="pickadate"
         [materializeActions]="birthDateActions"
         [materializeParams]="[{format: 'dd/mm/yyyy', editable : 'true', closeOnSelect : 'true'}]"
         type="text" (keydown)=birthDateKeyPressed($event)/>
</div>

<div class="col s6">
  <label for="otherdate">otherdate {{otherDate}}</label>
  <input id="otherdate" name="otherdate" [(ngModel)]="otherDate"
         materialize="pickadate"
         [materializeActions]="otherDateActions"
         [materializeParams]="[{format: 'dd/mm/yyyy', editable : 'true', closeOnSelect : 'true'}]"
         type="text" (keydown)=otherDateKeyPressed($event)/>
</div>
<!-- <button (click)="openDatePicker()">Click me to show date picker</button>
<button (click)="stopDatePicker()">Click me to stop date picker</button>
<button (click)="startDatePicker()">Click me to start date picker</button> -->
